
#songs-search{
  border-radius: 5px;
  background-color: antiquewhite;
  padding: 20px;
  width: 50%;
}
.card{
  margin-bottom: 20px;
}

* {
  margin: 0;
  padding: 0;
}
#weather img {
  width: 311px;
  height: 120px;
}
body {
  background-image: url("./background.png");
  font-family:
    /* "Brush Script MT", */
    Verdana,
    Geneva,
    Tahoma,
    sans-serif;
}

#entering .container {
  margin-top: 10%
}

.h1 {
  margin-top: 5%;
  margin-bottom: 2.5%;
  text-align: center;
  color: coral;
}

.title {
  font-size: 200%;
  font-weight: bolder;
  /* font-family: "Brush Script MT"; */
}

.h3 {
  color: darkorange;
}

.description {
  padding: 1%;
  text-align: justify;
}

.form-floating {
  margin-top: 5%;
  margin-bottom: 5%;
}

/* .login {
  display: inline;
  display: none;
}

.register {
  display: inline;
  display: none;
}

#entering {
  display: none
} */

#coronaNews .headline{
  background-color: salmon;
  padding: 10px;
  /* padding-bottom: 20px; */
  height: 80px;
}
.headline{
 text-align: center;
}
#details {
  height: 20px;
  border: none;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 5px;
}
#details p {
  font-size: 13px;
}